html,
body {
 height: 100%;
}

body {
 background-color: $white;
 color: $dark-500;
 font-size: 15px;
 line-height: 1.4;
 letter-spacing: 0.03em;
 @extend %opensans-700;
 display: flex;
 flex-direction: column;
}

.main {
 flex-grow: 1;
}

.container {
 max-width: 1320px;
 padding: 0 15px;
 margin: 0 auto;
}

.title {
 font-size: 32px;
 @extend %ruda-600;
 color: $dark-900;
 text-transform: uppercase;
}

.btn {
 padding: 12px 24px;
 color: $white;
 background-color: $green-900;
 @extend %opensans-400;
 font-size: 18px;
 border-radius: 6px;
 width: 182px;
 opacity: 1;
 display: block;
 letter-spacing: 0.03em;
 transition: all .5s;
 text-align: center;

 &:hover {
  background-color: #4D810C;
 }

 &:focus {
  box-shadow: 0px 0px 0px 4px $green-200;
 }

 &:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.5;
 }
 @include mq('m') {
  font-size: 14px;
  width: 152px;
 }
}

.filter-btn{
   transition: all 0.5s;

   &:hover {
    color: $green-900;
   }

   &:focus {
    box-shadow: 0px 0px 0px 3px $green-100;
    border-radius: 3px;
   }
}