.form {
 &__inner {
  display: inline-flex;
  background-color: $white;
  border-radius: 6px;
  align-items: center;
  padding-left: 12px;
  max-width: 419px;
  width: 100%;
   @include mq('m') {
    background-color: transparent;
    width: 0;
   }
 }

 &__search {
  max-width: 420px;
  width: 100%;
  height: 50px;
  border: none;
  @include mq('m') {
   display: none;
  }
 }

 &__img {
  order: -1;
  margin-right: 20px;
  padding-top: 5px;
  transition: all .5s;
    @include mq('xl') {
     margin-right: 5px;
    }
   @include mq('m') {
    path{
     fill: $white;
    }
     margin-right: 0;
    
    svg{
     width: 25px;
     height: 25px;
    }
    position: absolute;
    right: 75px;
   }
  &:active {
   opacity: 0.5;
  }
 }



 &__search::placeholder {
  color: $dark-800;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
     @include mq('xl') {
      letter-spacing: normal;
     }
 }

 &__btn {
  font-size: 14px;
  height: 50px;
  padding: 10px;
  border-right: 1px solid black;
  border-radius: 0 6px 6px 0;
  background-color: $dark-800;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .5s;
  border: none;
  max-width: 158px;
  width: 100%;

  &:hover {
   background: rgba(49, 53, 43, 0.85);
  }

  // При фокусе вручную - не виден. Принудительно через инспектор - задаётся ! ↓
  &:focus {
   box-shadow: 0px 0px 0px 4px $green-200;
  }

  &:active {
   opacity: 0.5;
   
  }
    @include mq('xl') {
     max-width: 100px;
    }
   @include mq('m') {
    display: none;
   }
 }

}