.info {
 background-color: $silver-100;
 padding: 48px 50px 29px;
 margin: auto 0;
 letter-spacing: 0;

 @include mq('l') {
  padding: 31px 15px;

  .container {
   padding: 0;
  }

 }

 &__items {
  display: flex;
  justify-content: center;

  @include mq('l') {
   flex-direction: column;
  }
 }

 &__item {
  padding-left: 74px;
  position: relative;
  max-width: 264px;
  width: 100%;

  @include mq('l') {
   max-width: none;
  }
 }

 &__item:not(:last-child) {
  margin-right: 65px;

  @include mq('l') {
   margin-right: 0;
   margin-bottom: 31px;
  }
 }


 &__item::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
 }

 &__item--delive::before {
  background-image: url(../images/info-icons/delive.svg);
 }

 &__item--back::before {
  background-image: url(../images/info-icons/back.svg);
 }

 &__item--sup::before {
  background-image: url(../images/info-icons/sup.svg);
 }

 &__item-title {
  font-weight: 600;
  font-size: 16px;
  color: $dark-900;
  margin-bottom: 7px;
 }

 &__item-text {
  font-weight: 400;
  font-size: 14px;
 }
}