.logo {
 transition: all 0.5s;
 display: inline-block;
	
 &:hover {
  opacity: 0.7;
 }

 &:focus {
  box-shadow: 0px 0px 0px 4px $green-200;
 }

 @include mq('m') {
  overflow:hidden;
 }
}

.logo__img {
 width: 200px;
 height: 60px;
 margin-right: 23px;
 @include mq('l') {
  width: 150px;
 }

  @include mq('m') {
   margin:-7px -85px -7px 6px;
  }
}

.logo__img path {
  fill: green;
}
