.logo {
 transition: all 0.5s;
 display: inline-block;

 &:hover {
  opacity: 0.7;
 }

 &:focus {
  box-shadow: 0px 0px 0px 4px $green-200;
 }

 @include mq('m') {
  overflow: hidden;
  width: 45px;
  margin-right: -80px;
 }
}

.logo__img {
 width: 200px;
 height: 60px;
 margin-right: 23px;

 @include mq('xl') {
  width: 140px;
  margin-right: 10px;
 }


}

.logo__img path {
 fill: green;
}