.logo {
 transition: all 0.5s;
 display: inline-block;

 &:hover {
  opacity: 0.7;
 }

 &:focus {
  box-shadow: 0px 0px 0px 4px $green-200;
 }
}

.logo__img {
 width: 200px;
 height: 60px;
 margin-right: 23px;
 @include mq('l') {
  width: 150px;
 }
}

.logo__img path {
  fill: green;
}
