.product {
 max-width: 300px;
 height: 409px;
 background-color: $white;
 border: 1px solid rgba(17, 17, 17, 0.2);
 border-radius: 6px;
 position: relative;
 padding: 2px 2px;
 transition: all 0.5s;

 // @include mq('xxl') {
 //  max-width: 288px;
 // }

 @include mq('m') {
  // max-width: 170px;
  height: 344px;
 }

 &:hover {
  border: 1px solid $green-900;
 }

 &__new {
  background-color: $green-900;
  color: $white;
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
 }

 &__sale {
  position: absolute;

  background-color: $red-900;
  color: $white;
  padding: 3px 6px;
  top: 8px;
  left: 12px;
  border-radius: 6px;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
 }

 &__hit {
  position: absolute;
  background-color: $orange-900;
  color: $white;
  padding: 3px 6px;
  top: 52px;
  left: 12px;
  border-radius: 6px;
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
 }

 &__like {
  padding-bottom: 57px;
 }

 &__like-link {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  position: absolute;
  content: '';
  top: 10px;
  right: 5px;
  border: none;
  background-color: $white;
  padding: 8px 6px;


  &:hover path {
   fill: $yellow-900;
  }

  &:active path {
   fill: $yellow-900;
   opacity: 0.5;
  }

  &:focus {
   box-shadow: 0px 0px 0px 3px #E0EDCF;
   border-radius: 3px;
  }

  path {
   transition: all 0.5s;
  }

  @include mq('m') {

   svg {
    width: 24px;
    height: 21px;
   }
  }
 }

 &__box {
  height: 215px;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;

  @include mq('m') {
   height: 126px;
   margin-bottom: 8px;

   img {
    width: 170px;
    height: 120px;

    @include mq('m') {
     margin: 0 auto;
    }
   }
  }

  &::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   transition: all .5s;
  }

  &::after {
   content: '';
   position: absolute;
   background-image: url('../images/item-icons/search.svg');
   background-repeat: no-repeat;
   background-position: center center;
   width: 48px;
   height: 48px;
   padding: 14px;
   background-color: $white;
   border-radius: 50%;
   border: none;
   top: 40%;
   left: 40%;
   transform: translateY(300%);
   transition: transform 0.5s,
    background-color 0.5s;
  }

  &:hover::after {
   transform: translateY(0);
  }

  &:hover::before {
   background-color: rgba(0, 0, 0, 0.1);
  }
 }

 &__star-num {
  display: flex;
  position: absolute;
  bottom: 126px;
  right: 17px;
 }

 &__name {
  display: inline-block;
 }

 &__name-title {
  font-size: 14px;
  color: $dark-900;
  font-weight: 600;
  padding: 0 16px;
  height: 60px;
  margin-bottom: 10px;
  transition: all 0.5s;

  @include mq('m') {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow-y: hidden;
   padding: 0 11px;
   margin-bottom: 33px;
  }


  &:hover {
   opacity: 0.7;
  }
 }

 &__inner {
  display: flex;
  justify-content: space-between;
  padding-left: 21px;
  padding-right: 18px;

  @include mq('m') {
   padding-left: 9px;
   padding-right: 12px;
  }

 }

 &__price {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
 }

 &__old-price {
  color: $silver-600;
  text-decoration: none;
  position: relative;
  margin-bottom: 3px;
  width: auto;
  height: 14px;
 }

 &__old-price--decor::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid $silver-600;
  width: 100%;
  height: 50%;
  transform: rotate(-12deg);
 }

 &__new-price {
  color: $dark-900;
 }

 &__cart-btn {
  border: none;
  background-color: $green-900;
  border-radius: 3px;
  width: 32px;
  height: 32px;
  padding: 8px;
  transition: all .5s;

  path {
   transition: all .5s;
  }

  &:hover {
   background-color: #4D800C;
  }

  &:focus {
   box-shadow: 0px 0px 0px 4px #E0EDCF;
   border-radius: 3px;
  }

  &:active {
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  }

  &:active path {
   opacity: 0.5;
  }
 }

 &__status--stock {
  color: $green-900;
 }

 &__status--ends {
  color: $red-900;
 }

 &__status--not {
  color: $silver-600;
 }

 &__status {
  content: '';
  position: absolute;
  bottom: 128px;
  left: 17px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
 }
}

.hidden {
 display: none;
}

.line-1 {
 content: '';
 position: absolute;
 top: 10px;
 left: 10px;
}

.line-2 {
 content: '';
 position: absolute;
 top: 30px;
 left: 12px;
}