.produce {
 padding: 48px 0 84px;

 @include mq('m') {
  padding: 30px 0 48px;
 }

 &__price {
  display: flex;
  font-weight: 700;
  align-items: end;
  margin-bottom: 59px;

  @include mq('m') {
   margin-bottom: 30px;
  }
 }

 &__old-price {
  color: #c1c1c1;
  text-decoration: none;
  position: relative;
  margin-right: 18px;
  width: auto;
  height: 20px;
  font-size: 20px;
  line-height: 1;

 }

 &__old-price--decor::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #c1c1c1;
  width: 100%;
  height: 50%;
  transform: rotate(-12deg);
 }

 &__new-price {
  font-size: 30px;
  line-height: 1;
  color: $green-900;
 }

 &__item-btn {
  margin-left: 20px;
  padding: 14px 12px 14px 49px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: $white;
  background-color: $green-900;
  border: none;
  border-radius: 3px;
  position: relative;

  @include mq('m') {
   span {
    display: none;
   }

   width: 48px;
   height: 44px;
   padding: 0;
  }

  &::before {
   content: '';
   position: absolute;
   width: 24px;
   height: 23px;
   background-image: url('../images/sprite.svg#cart');
   background-repeat: no-repeat;
   left: 12px;
   top: 10px;
  }
 }

 &__item-box {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
 }

 &__item-like {
  border: none;
  display: block;
  background-color: transparent;
  justify-content: end;
  margin-left: auto;
 }

 &__pay {
  padding-bottom: 18px;
  border-bottom: 1px solid #C1C1C1;
  margin-bottom: 18px;
 }

 &__pay-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: $dark-900;
 }

 &__info {
  margin-bottom: 18px;
 }

 &__info-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  color: $dark-500;
  letter-spacing: 0.03em;
  font-weight: 400;
 }

 &__link {
  color: $green-900;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 400;
 }
}



.produce-item {
 margin-bottom: 63px;

 @include mq('m') {
  margin-bottom: 25px;
 }

 &__inner {
  display: grid;

  @include mq('xl') {
   justify-items: center;
  }

  @include mq('s') {
   justify-items: start;
  }
 }

 &__title {
  margin-bottom: 64px;
  grid-area: 1/2/1/2;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @include mq('xl') {
   grid-area: 1/1/1/1;
  }

  @include mq('xl') {
   font-size: 26px;
   margin-bottom: 30px;
   max-width: 345px;

  }
 }

 &__slide {
  max-width: 630px;
  margin-right: 30px;
  grid-area: 1/1/3/1;
  margin-bottom: 70px;

  @include mq('xl') {
   grid-area: 2/1/2/1;
   margin-right: 0;
  }

  @include mq('m') {
   width: 345px;
  }
 }

 &__content {
  max-width: 630px;
  grid-area: 2/2/3/2;

  @include mq('xl') {
   grid-area: 3/1/3/1;
  }
 }

 &__box {
  position: relative;
 }

 &__box-inner {
  display: flex;
 }

 &__box-code {
  background-color: $silver-100;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #c1c1c1;
  border-radius: 3px;
  padding: 4px 5px 3px 5px;
  margin-right: 12px;
  margin-bottom: 33px;

  @include mq('m') {
   margin-bottom: 76px;
  }

  @include mq('s') {
   margin-bottom: 58px;
  }
 }

 &__new {
  background-color: $green-900;
  color: $white;
  position: absolute;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  top: -50px;
  font-weight: 700;
  text-transform: uppercase;
 }

 &__sale {
  position: absolute;
  background-color: $red-900;
  color: $white;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  top: -50px;
  font-weight: 700;
  text-transform: uppercase;
 }

 &__hit {
  position: absolute;
  background-color: $orange-900;
  color: $white;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  top: -50px;
  font-weight: 700;
  text-transform: uppercase;
 }

 &__status--stock {
  color: $green-900;
 }

 &__status--ends {
  color: $red-900;
 }

 &__status--not {
  color: $silver-600;
 }

 &__status {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;

  @include mq('m') {
   left: 0;
   top: 40px;
  }
 }

}

.produce-slide {
 &__small-item {
  img {
   width: 420px;
   height: 420px;

   @include mq('m') {
    width: 270px;
    height: 270px;
    margin: 0 auto;
   }
  }


 }

 &__small-link {
  width: 420px;
  height: 420px;
  display: block;
  margin: 0 auto;

  @include mq('m') {
   width: 345px;
   height: 309px;
   border: 1px solid #C1C1C1;
   border-radius: 4px;
  }
 }

 &__big {
  display: none;
 }
}

.produce-tabs {
 padding-top: 18px;
 border-top: 1px solid #c1c1c1;

 &__top {
  max-width: 690px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 48px;

  @include mq('m') {
   font-size: 14px;
   line-height: 1.7;
   margin-bottom: 30px;
   justify-content: space-between;
  }
 }

 &__top-item {
  @extend %ruda-600;

 }

 &__top-item--active {
  color: $green-900;
  position: relative;

  &::before {
   content: '';
   position: absolute;
   top: -18px;
   left: 0;
   right: 0;
   height: 3px;
   background-color: $green-900;
   width: 100%;
  }
 }

 &__content {
  max-width: 690px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #4F4F4F;
 }

 &__content-item {
  display: none;

  &.produce-tabs__content-item--active {
   display: block;
  }
 }

 &__content-text {
  margin-bottom: 20px;
  line-height: 1.6;

  &:last-child {
   margin-bottom: 0;
  }

 }

 &__content-descr {
  margin-bottom: 10px;

  span {
   font-weight: 700;
  }
 }

 &__content-title {
  margin-bottom: 48px;
  @extend %ruda-600;
  font-size: 18px;
  line-height: 1.2;
 }



 &__comments {
  &:not(:last-child) {
   padding-bottom: 24px;
   border-bottom: 1px solid #c1c1c1;
   margin-bottom: 24px;
  }
 }

 &__comments-box {
  margin-bottom: 72px;
 }

 &__comments-user {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
 }

 &__comments-stars {
  margin-left: auto;
 }

 &__comments-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 24px;
 }

 &__comments-name {
  font-weight: bold;
  font-size: 14px;
  color: $dark-900;
 }

 &__comments-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $dark-500;
 }

 &__comments-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: $dark-500;
 }
}

.comments-form {
 max-width: 690px;

 &__title {
  text-transform: uppercase;
  @extend %ruda-600;
  font-size: 18px;
  line-height: 1.2;
  color: $dark-900;
  margin-bottom: 48px;
 }

 &__rating {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
 }

 &__rating-text {
  margin-right: 18px;
 }

 &__box {
  display: flex;

  @include mq('m') {
   display: block;
   margin-bottom: 20px;
  }
 }

 &__inner {
  &:nth-child(1) {
   margin-bottom: 24px;

   @include mq('m') {
    margin-bottom: 18px;
   }
  }

  label {
   display: flex;
   font-size: 16px;
   line-height: 1.3;
   color: $dark-900;
   margin-bottom: 12px;

  }

  textarea {
   width: 400px;
   height: 165px;
   resize: none;
   padding: 18px;
   border: 1px solid #c1c1c1;
   border-radius: 3px;
   margin-right: 30px;

   @include mq('m') {
    margin-right: 0;
   }

   @include mq('s') {
    width: 345px;
   }
  }

  input {
   padding: 18px;
   width: 260px;
   height: 54px;
   border: 1px solid #c1c1c1;
   border-radius: 3px;

   @include mq('s') {
    width: 345px;
   }
  }

  input::placeholder,
  textarea::placeholder {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.3;
   color: #c1c1c1;
  }
 }

 &__input {
  @extend %check;

  &:checked+.comments-form__checkbox {
   background-image: url('../images/check.svg');
   background-repeat: no-repeat;
   background-position: center;
   border: 1px solid $dark-900;
  }
 }

 &__checkbox {
  width: 24px;
  height: 24px;
  position: absolute;
  border: 1px solid $silver-600;
  background-color: $silver-100;
  border-radius: 3px;
  transition: border 0.5s;


  &:hover {
   border: 1px solid $dark-900;
  }
 }

 &__text {
  margin-left: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 24px;
  color: $dark-500;
 }

 &__btn {
  font-size: 18px;
  line-height: 1.3;
  width: 194px;
  padding: 10px 20px;
  border: none;
 }
}

.produce-slider {
 padding-bottom: 46px;

 @include mq('m') {
  padding-bottom: 64px;
 }

 &__title {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @include mq('m') {
   font-size: 24px;
   margin-bottom: 30px;
  }
 }

 &__item {
  margin-right: -15px;
  margin-left: -15px;
 }

 .slick-slide {
  margin: 0 15px;

  @include mq('l') {
   margin: 0 30px;
  }

  @include mq('s') {
   margin: 0 5px;
  }
 }

 .slick-prev {
  top: -40px;
  left: 90%;

  @include mq('l') {
   left: 85%;
  }
 }

 .slick-next {
  top: -40px;
  right: 0;
 }

 .slick-dots {
  bottom: -25px;
 }

 .product__star-num {
  bottom: 122px;
  order: 1;

  @include mq('m') {
   bottom: 157px;
   right: 0;
  }

  @include mq('s') {
   font-size: 10px;
  }
 }

 .product__status {
  bottom: 125px;
  order: 1;

  @include mq('m') {
   bottom: 160px;
   left: 14px;
  }

  @include mq('s') {
   font-size: 8px;
  }
 }

 .star {
  svg {
   width: 16px;
   height: 16px;

   @include mq('s') {
    width: 12px;
    height: 12px;
   }
  }
 }
}






.jq-number__field {
 width: 70px;
 height: 44px;
 border: none;
 border-bottom-color: transparent;
 border-radius: 0px;
 box-shadow: none;
 background: rgba(99, 166, 14, 0.1);
 margin-left: 44px;
}

.jq-number__field input {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 width: 100%;
 padding: 8px 17px;
 border: none;
 outline: none;
 background: none;
 font-weight: 400;
 font-family: 'Open Sans';
 color: $dark-500;
 text-align: center;
 font-size: 20px;
 line-height: 1;
 letter-spacing: 3%;
}

.jq__number {
 padding: 0;
}

.jq__number.focused .jq-number__field {
 border: 1px solid transparent;
}

.jq-number__spin {
 position: absolute;
 top: 0;
 right: -8px;
 width: 44px;
 height: 44px;
 border: none;
 border-radius: 0px;
 background: #63A60E;
 box-shadow: none;
 border-radius: 0px 3px 3px 0px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 text-shadow: none;
 cursor: pointer;
}

.jq-number__spin.minus {
 left: 0;
 border-radius: 3px 0px 0px 3px;
}

.jq-number__spin:after {
 content: "";
 position: absolute;
 top: 4px;
 left: 11px;
 width: 0;
 height: 0;
 transform: translateY(-1px);
 border-right: 5px solid transparent;
 border-bottom: 5px solid #999;
 border-left: 5px solid transparent;
 border-radius: 3px;
}

.jq-number__spin.minus:after {
 top: 50%;
 left: 7px;
 width: 29px;
 height: 2px;
 border: none;
 background-color: $white;
}

.jq-number__spin.plus:after {
 top: 50%;
 left: 7px;
 width: 29px;
 height: 2px;
 border: none;
 background-color: $white;

}

.jq-number__spin.plus:before {
 content: "";
 position: absolute;
 top: 7px;
 left: 50%;
 transform: translateX(-1px);
 width: 2px;
 height: 29px;
 border: none;
 background-color: $white;
 border-radius: 3px;
}