.top-good {
 padding-bottom: 69px;

 @include mq('l') {
  padding-bottom: 39px;
 }
}

.top-goods {
 display: flex;

 @include mq('l') {
  flex-direction: column;
  align-items: center;
 }

 &__good {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px;

  &:not(:last-child) {
   margin-right: 30px;

   @include mq('l') {
    margin-right: 0;
   }
  }

  @include mq('l') {
   background-position: 20% 50%;
  }
 }

 &__good-content {
  padding: 76px 70px 32px 32px;
  text-transform: uppercase;
  color: $dark-500;
  letter-spacing: 0;

  @include mq('l') {
   padding: 80px 77px 17px 12px;
  }

 }

 &__good-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 18px;
  letter-spacing: 0.1em;

  @include mq('l') {
   margin-bottom: 14px;
  }
 }

 &__good-title {
  @extend %ruda-600;
  font-size: 30px;
  margin-bottom: 8px;

  @include mq('l') {
   font-size: 24px;
  }

  @include mq('l') {
   margin-bottom: 73px;
  }
 }

 &__good-link {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 2px;
  border-bottom: 2px solid;
  transition: all 0.5s;

  &:hover {
   opacity: 0.7;
  }

  &:focus {
   box-shadow: 0px 0px 0px 3px $green-100;
   border-radius: 3px;
  }

  &:active {
   color: $orange-900;
  }

 }

 &__decor1 {
  color: $white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
 }

 &__decor2 {
  color: $white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  max-width: 356px;
 }
}

.top-goods__good {
 max-width: 630px;
 width: 100%;
 height: 300px;

 @include mq('l') {
  margin-bottom: 12px;
 }
}

.good__size {
 max-width: 300px;
 width: 100%;

 @include mq('l') {
  max-width: 630px;
  margin-bottom: 12px;
 }

 @include mq('s') {
  .top-goods__good-title {
   width: 165px;
  }

 }
}