 .top-slider {
  letter-spacing: 0;

  &__item {
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 600px;

   @include mq('l') {
    background-position: center center;
    min-height: 320px;
   }

   @include mq('m') {
    .container {
     padding: 0;
    }
   }
  }

  &__content {
   border-radius: 4px;
   background-color: rgba(255, 255, 255, 0.8);
   padding-top: 24px;
   padding-left: 24px;
   height: 315px;

   @include mq('m') {
    background-position: center center;
    height: 209px;
    padding: 15px;
   }
  }

  &__title {
   @extend %ruda-900;
   font-size: 60px;
   line-height: 1.3;
   max-width: 885px;
   width: 100%;
   text-transform: uppercase;

   @include mq('l') {
    font-size: 40px;
   }

   @include mq('m') {
    font-size: 20px;
   }
  }

  &__title-span {
   @extend %ruda-700;
   font-size: 60px;
   line-height: 1.3;
   color: $red-900;
   letter-spacing: 0.03em;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   text-transform: uppercase;
   margin-bottom: 8px;

   @include mq('l') {
    font-size: 40px;
   }

   @include mq('m') {
    font-size: 20px;
    margin-bottom: 19px;
    white-space: normal;
   }
  }

  &__text {
   font-weight: 400;
   font-size: 16px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-bottom: 33px;

   @include mq('l') {
    white-space: normal;
    margin-bottom: 25px;
   }
  }

  &__container {
   height: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;

   @include mq('m') {
    height: 320px;
   }
  }

  &__link {
   @include mq('m') {
    font-size: 14px;
    width: 152px;
   }
  }
 }

 .content__item {
  height: 345px;

  @include mq('m') {
   height: 209px;
  }
 }

 .title-span {
  margin-bottom: 25px;
 }